<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
     <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        th,td{
            text-align:center;
            margin-top: auto;
            margin-bottom: auto;
            width: auto;
        }
        a:link {color: black  text-decoration:none;}    /* 未被访问的链接 */
        a:visited {text-decoration:none;} /* 已被访问的链接 */
        a:hover {text-decoration:underline;}   /* 鼠标指针移动到链接上 */
        a:active {text-decoration:underline;}  /* 正在被点击的链接 */
    </style>
</head>
<body>
<h1>用户管理</h1>
    <table class="table table-condensed table-hover table-bordered" width="70%"  >
        <thead>
        <tr>
            <th>用户编号</th>
            <th>用户名</th>
            <th>登录名</th>
            <th>安全级别</th>
            <th>操作</th>
        </tr>
        </thead>
        {% for i,user in userinfo.items %}
            <tbody>
            <tr>
                <td>
                    {{ user.1 }}
                </td>
                <td>
                    {{ user.2 }}
                </td>
                <td>
                    {{ user.3 }}
                </td>
                <td>
                    {{ user.4 }}
                </td>
                <td>
                    <button type="button" class="btn btn-success"><a style="color: #ffffff" href="/index.html">添加</a></button>
                    <button type="button" class="btn btn-danger"><a style="color: #ffffff" href="/delete?id={{ user.1 }}">删除</a></button>
                    <button type="button" class="btn btn-primary"><a style="color: #ffffff" href="/showid?id={{ user.1 }}">更新</a></button>
                </td>
            </tr>
            <tbody>
        {% endfor %}
    </table>
</body>
</html>