<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>更新用户信息</h1>
<div style="width: 550px;">
    <form action="/add" method="post" class="form-horizontal" role="form">
         <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">idTUser</label>
            <div class="col-sm-10">
                <input type="text" name="idtuser" value="{{ data.idtuser }}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">Tu_id</label>
            <div class="col-sm-10">
                <input type="text" name="tu_id" value="{{ data.tu_id }}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">登录名</label>
            <div class="col-sm-10">
                <input type="text" name="login_name" value="{{ data.login_name }}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" name="passwd" value="{{ data.password }}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" name="name" value="{{ data.username }}" class="form-control">
            </div>
        </div>
        <div class="control-group">
            <label for="selectleve" class="col-sm-2 control-label" >安全级别</label>
            <div class="col-sm-10">
                <select class="form-control" value="{{ data.seclevel }}" name="level">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label class="col-sm-3 control-label"> </label>
            <div class="col-sm-offset-5 col-sm-10">
                <a class="btn btn-primary active" type="submit" role="button">保存</a>
                <a href="/table" type="submit" class="btn btn-warning active">取消</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>